.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-image.active {
  transform: translateX(0%);
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 4px;
  cursor: pointer;
}

.dot.active {
  background-color: #000;
}
