@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar-thumb {
  background-color: #393e46;
  width: 10px;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #e4e4e4;
}
